<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet'/>
    <title>Welcome to filloca-sf</title>
</head>
<body>

<div id="app">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px;color=whitesmoke"></i>
</div>

<!--<div id='map' style='width: 400px; height: 300px;'></div>-->
<script>
    mapboxgl.accessToken = '{{mapbox-api-key}}';
</script>

<!-- scripts and styles -->
{% style "/assets/bootstrap/css/bootstrap.min.css" %}
{% style "/assets/font-awesome/css/all.css" %}
{% style "/css/screen.css" %}

{% script "/assets/jquery/jquery.min.js" %}
{% script "/assets/font-awesome/js/all.js" %}
{% script "/assets/tether/dist/js/tether.min.js" %}
{% script "/assets/bootstrap/js/bootstrap.min.js" %}

<script type="text/javascript">
    var csrfToken = "{{csrf-token}}";
</script>
{% script "/js/app.js" %}
</body>
</html>
